@font-face {
    font-family: Dosis;
    src: url("../assets/fonts/Dosis-VariableFont_wght.ttf");
}

@font-face {
    font-family: sourceSansPro;
    src: url("../assets/fonts/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: sourceSansProBold;
    src: url("../assets/fonts/SourceSansPro-Bold.otf");
}

.dosisFont {
    font-family: Dosis;
}

.sansProReg {
    font-family: sourceSansPro;
}

.sansProBold {
    font-family: sourceSansProBold;
}

a:hover {
    color: white !important;
    border: solid white;
}

.textColor {
    color: white;
}

.lightBlueColor {
    color: #E5FEFF;
}

.darkBlueColor {
    color: #1F51A8;
}

.fontSize45 {
    font-size: 45px;
}

.fontSize35 {
    font-size: 35px;
}

.fontSize25 {
    font-size: 25px;
}

.fontSize20 {
    font-size: 20px;
}

.textBorder {
    border: solid white;
}

.headerBackground {
    background-image: url("../assets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
}

.headerText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cardBackground {
    background-image: url("../assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
}

.containerBackground {
    background-color: #000324cc;
}

.containerBackground2 {
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.containerBackground3 {
    background-color: #000324;
}

.paradiseImg {
    object-fit: cover;
    object-position: 50% 60%;
    height: 440px;
    width: 100%;
}

.packagesImg {
    object-fit: cover;
    object-position: 50% 40%;
    width: 100%;
    height: 230px;
}

.roomsImg {
    object-fit: cover;
    width: 100%;
    height: 190px;
}

.amenitiesImg {
    object-fit: contain;
    /* object-position: center; */
    width: auto;
    height: 110px;
}

.reserveImg {
    object-fit: cover;
    object-position: 50% 65%;
    max-width: 100%;
    height: 450px;
}

.marginTop {
    margin-top: 30rem;
}

.maxHeight {
    max-height: 80%;
}